/* .imageView_container {
  width: 100%;
  text-align: center;
  color: #fff;
}

.imageView_img {
  height: 400px;
  width: auto;
}

.imageView_copyright {
  color: #8f8f8f;
}

.imageView_text {
  margin-top: 1rem;
}

.imageView_text h4, h5, span {
  letter-spacing: 1px;
  color: #f39c12;
}

.imageView_text h4 span {
  font-weight: bold;
  color: #c0392b;
}

.imageView_text a {
  font-weight: bold;
  color: #c0392b;
}

.imageView_text button {
  border: 0;
  background: transparent;
  border: solid 2px #34495e;
  margin-top: 10px;
} */